extends layout
block content
    p= artistname
    h1= title
    // event has been passed in by users.js
    .container
        table.table(border='3')
            tr
                th Name
                th Event
                th Location
                th Date
                th Time
            each val in events
                tr
                    td #{val.artistName}
                    td #{val.eventTitle}
                    td #{val.location}
                    td #{val.date}
                    td #{val.time}