extends layout
block content
    p= artistname
    h1= title
    // event has been passed in by users.js
    .container
        table.table(border='3')
            tr
                th Name
                th Event
                th Location
                th Date
                th Time
            each val in events
                tr
                    td #{val.artistName}
                    td #{val.eventTitle}
                    td #{val.location}
                    td #{val.date}
                    td #{val.time}

        form(action='/returnRen', method='GET')
                //input(type='text', name='username', value='')
                //div.username
                //    input#name(type='text', placeholder='username' name='username')
                input.form-control(type='hidden', name='username', value=username)
                button(type='submit').button Return